body {
    color:black;
    background-color:white;
    background-image:url(C:/Users/yimou/mipdrop.github.io/pw/controle/cement.jpg);
    }

h1 {
    text-align: center;
    }
h2 {
    color: rgb(31, 79, 250);
    background-color:grey
    }
  
p {
    text-align: justify;
    text-indent: 16px;
    }

.surligne{
    background-color:seashell
}

#cadre1 > .surligne{
    background-color:seashell;   
}

#cadre1 * .surligne{
    background-color:yellow;
}
#cadre2 * .surligne{
    background-color:yellow;
}

#cadre2 > .surligne{
    background-color:seashell;
}

p >.surligne {
    background-color: yellow;
}

.surligne > p {
    background-color: slateblue;
}

ul {
    list-style-type: upper-roman; /* pour les puces de la dernière liste */
}


ol {
    list-style-type: upper-roman /* pour toutes les listes */
}

ol * li {
    list-style-type: lower-roman; /* pour toutes les listes */
}


li  ol {
    list-style-type: lower-alpha;/*c'est pour les lettres de la dernière liste*/
} 

ol * li * ol * li {
    list-style-type: lower-alpha;
}









