body {
    color:black;
    background-color:white;
    background-image:url(C:/Users/yimou/mipdrop.github.io/pw/controle/cement.jpg);
    }

h1 {
    text-align: center;
    }
h2 {
    color: rgb(31, 79, 250);
    background-color:grey
    }
  
p {
    text-align: justify;
    text-indent: 16px;
    }

.surligne{
    background-color:seashell
}

#cadre1 > .surligne{
    color:seashell;   
}

#cadre1 * .surligne{
    color:yellow;
}
#cadre2 * .surligne{
    color:yellow;
}

#cadre2 > .surligne{
    color:seashell;
}

p >.surligne {
    color: yellow;
}

.surligne > p {
    color: slateblue;
}

ol {
    list-style-type: upper-roman;
}

ol * li  {
list-style-type: lower-alpha;
}

ol * li * ol {
    list-style-type: lower-roman;
}
