

body { /* Modifications : la couleur de fond de page - la police - l'unité utilisée pour la taille de la police  */
    background-color : rgb(232, 35, 35);
    font-family : system-ui; /*police */
    font-size :15px; /* balise pour modifier la taille de la police
  }
  
  #page { /* Modifications : suppression de la bordure - marges */
    margin :0;
    border :none;
  }
  
  #banner, #menuright, #footer { /* Les éléments qui ne seront pas affichés  */
    display :none;
  }
  
  h1#top { /* Affichage du titre */
    margin :10px;
    padding :50px;
    text-indent :20px;
    line-height :20px;
    font-size :10px;
  }
  
  h1, h2, #contenu h3, #contenu a, a { /* Modification de la couleur des titres et liens */
    color :blue;
  }

  label {visibility: hidden;
  }

  .checkbox {visibility: hidden;
  }
  

